<h1>Hello From Mind Set App (dot CLUB)</h1>

<h2>Upload a syllabus!</h2>

<br>

<%= form_for @syllabus, url: syllabuses_path, html: { multipart: true } do |form| %>
  <%= form.file_field :up_load %>
  <%= form.submit 'up load syllabus'%>
<% end %>

<br>

<%= link_to 'problems', problems_path %>
<%= link_to 'topics', topics_path %>
